.btn-regperr{
    margin-left: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #ff8700;
    border-color: #ff8700;
}
.btn-regevent{
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #ff8700;
    border-color: #ff8700;
}

.btn-regevent:hover{
    background-color: #c55b03;
    border-color: #c55b03;
}

.btn-elect{
    color: #2d3340;
    font-size: 20px;
    width: 400px;
    border-color: transparent;
    background-color: transparent;
    margin-top: 20px;
}

.btn-elect:hover{
    color: #c55b03;
}
.btn-elect.active {
    color: #c55b03;
  }

.card-text{
    text-align: justify;
}

