
.perfil-contenedor {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    gap: 20px;
    padding: 20px;
}

.perfil-contenedor img {
    width: 165px; 
    height: 165px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-bottom: 20px;
    margin-top: 85px;
  }

.perfil-info {
    flex: 1; /* Permite que la información ocupe el espacio restante */
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: flex-start; /* Alinea los elementos a la izquierda en pantallas grandes */
}
@media (max-width: 768px) {
    .perfil-contenedor {
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
        text-align: center; /* Centra el texto */
    }
    
    .perfil-info {
        align-items: center; /* Centra el texto del perfil */
    }
    .tarjetas{
        flex-wrap: wrap;
        gap: 90px;
    }
    }

.btn-registrar-perro{
    margin-top: 30px;
    background-color: #ff8700;
    border-color: #ff8700;
}

.btn-registrar-perro:hover {
    border-color: #c55b03;
    background-color: #c55b03;
    color: #fff;
}
.cont1{
    margin-left: 70px;
}

.cont2{
    background-image: url("../../public/images/fondo_home.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 18rem; 
    height: 33rem;
}

.card-img-top {
    padding: 12px; 
    height: 270px; 
    object-fit: cover; 
    border-radius: 8px; 
  }

.p-name{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: rgb(63, 63, 63);
    font-size: 18px;
}

.text{
    color: rgb(97, 97, 97);
    font-size: 14px;
    margin: 0;
    padding: 0;
}

