.btn-regperr{
    margin-left: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #ff8700;
    border-color: #ff8700;
}
.btn-regevent{
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #ff8700;
    border-color: #ff8700;
}

.btn-regevent:hover{
    background-color: #c55b03;
    border-color: #c55b03;
}

.btn-regperr:hover{
    background-color: #c55b03;
    border-color: #c55b03;
}