.Head{
    background-color: #2d3340;
    
}
.carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 400px; 
    max-width: 600px;
    object-fit: cover; 
}

.display-4 {
    color: #fff;
    font-size: 42px;
}

.font-weight-light{
    color: #fff;
}

.btn-match {
    margin-left: 30px;
    width: 140px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    padding-top: 7px;
    background-color: #ff8700;
    border-color: #ff8700;
    
}
.btn-match:hover {
    background-color: #c55b03;
    border-color: #c55b03;
}

.btn-elect{
    color: #2d3340;
    font-size: 20px;
    width: 400px;
    border-color: transparent;
    background-color: transparent;
    margin-top: 20px;
}

.btn-elect:hover{
    color: #c55b03;
}
.btn-elect.active {
    color: #c55b03;
  }

.card-text{
    text-align: justify;
}

