.Head{
    background-color: #fff;
    margin-top: 0px;
    margin-bottom: -150px;
    
}

@media (max-width: 425px) {
    .Head{
        margin-bottom: -40px;
    }

}
.carousel-item {
    height: 400px; /* Ajusta esta altura según sea necesario */
}

.carousel-item img {
    height: 100%; /* Asegura que la imagen llene el contenedor */
    object-fit: cover; /* Mantiene la proporción de la imagen */
}

.carousel-inner img {
    width: 100%;
    height: 400px;
    max-height: 400px; 
    max-width: 620px;
    object-fit: cover; 
    border-radius: 5px;
    transition: opacity 1s ease-in-out; /* Suaviza la transición */
}

.display-4 {
    color: #333333;
    font-size: 42px;
}

.font-weight-light{
    color: #333333;
}

.btn-match {
    margin-left: 30px;
    width: 140px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    padding-top: 7px;
    background-color: #ff8700;
    border-color: #ff8700;
    
}
.btn-match:hover {
    background-color: #c55b03;
    border-color: #c55b03;
}

.btn-elect{
    color: #2d3340;
    font-size: 20px;
    width: 400px;
    border-color: transparent;
    background-color: transparent;
    margin-top: 20px;
}

.btn-elect:hover{
    color: #ff8700;
}
.btn-elect.active {
    color: #ff8700;
  }

.card-text{
    text-align: justify;
}

.info{
    border-color: #2d3340;
}

.card:hover{
    transform: translateY(-15px); 
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2); 
}

.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-agregarEvento{
    border: None;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 20px;
    color: #444444;
    width: 250px;
}

.btn-agregarEvento:hover{
    color: #ff8700;
}