/* RegistroPerros.css */
.my-5 {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    align-items: center;

}

h2 {
    color: #343a40;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-weight: 500;
    color: #495057;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.form-select {
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.custom-button {
    width: 100%;
    background-color: #FF8700 !important;
    border-color: #FF8700;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    text-align: center;
}

.custom-button:hover {
    background-color: #FF8700;
    border-color: #FF8700;
}

.custom-button:active {
    background-color: white;
    border-color: white;
}