/* SignIn.css */
.modal-body {
    display: flex;
    flex-direction: column; /* Cambiar a columna para alinear los elementos verticalmente */
    align-items: center; /* Centrar horizontalmente */
    padding: 20px; /* Espaciado interno */
    justify-content: center; /* Centrar horizontalmente */
}

.modal-header {
    border-bottom: none; /* Sin borde inferior */
}

/* SignIn.css */
.custom-button-SI {
    width: 100%;
    background-color: transparent; /* Fondo transparente */
    border: 2px solid #ffbb00; /* Borde naranja */
    color: #ffbb00; /* Letra en color naranja */
    padding: 10px;
    border-radius: 30px; /* Bordes redondeados */
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones para el color y fondo */
}

.custom-button-SI:hover {
    background-color: #ffbb00; /* Fondo amarillo al pasar el mouse */
    color: #fff; /* Cambiar el color de la letra al blanco */
}
.custom-button-SI {
    background-color: transparent !important; /* Fondo transparente */
    border: 2px solid #ffbb00 !important; /* Borde naranja */
    color: #ffbb00 !important; /* Letra en color naranja */
}



.modal-title {
    text-align: center; /* Centrar el texto del título */
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
}

.form-group {
    width: 100%; /* Hacer que los grupos ocupen el ancho completo */
    margin-bottom: 20px; /* Espacio entre los campos de entrada */
}

.form-label {
    font-weight: bold; /* Hacer las etiquetas más prominentes */
    color: #333; /* Color más oscuro para las etiquetas */
}

.text-danger {
    text-align: center; /* Centrar el mensaje de error */
    margin-top: 10px; /* Espacio arriba del mensaje de error */
}

/* Añadir margen inferior al botón */
.btn {
    margin-top: 15px; /* Espacio entre el último campo y el botón */
}


